.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  margin: 0 auto;
  flex-direction: row;
  padding: 15px;
  flex-wrap: nowrap;

  .image {
    min-height: 180px;
    min-width: 180px;
    margin: 30px;
  }

  .image img {
    height: 180px;
    width: 180px;
    border-radius: 10px;
    position: relative;
  }

  .generaltext {
    height: 250px;

    .price-title h3 {
      font-size: xx-large;
      font-weight: bold;
      display: inline-block;
      color: $green;
      text-align: center;
      margin-bottom: 10px;
      margin-right: 10px;
    }

    .price-title h4 {
      font-size: x-large;
      font-weight: 400;
      display: inline-block;
      color: $green;
      margin-bottom: 0px;
    }

    .description p {
      text-align: left;
      color: $green;
      word-wrap: break-word;
      margin-top: 0px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
}
