.main-footer{
    color: black;

    padding-top: 3em;
    position: fixed;
    top:90%;
    height: 60px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.background
{
    //background-image: url("/images/herbsIcon.svg");
    //  background-repeat: no-repeat;
   // background-size: cover;



    
}
