.main-footer{
    color: black;
    background-color:$mintgreen;
    
    padding-top: 3em;
    position: fixed;
    top:90%;
    height: 60px;
    text-align: center;
    bottom: 0;
    width: 100%;
}
