.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.card {
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
  margin-top: 10%;
  border: 2px solid $green;
  background-color: $lightgray;
}

.image {
  top: 2%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

.image img {
  height: 250px;
  border: 1px solid $mintgreen;
  width: auto;
  border-radius: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-title {
  top: 11%;
  color: $mintgreen;
  font-family: "Segoe UI";
  position: relative;
  text-align: center;
}

.product-description {
  bottom: 10px;
  color: $mintgreen;
  font-family: "Segoe UI";
  position: relative;
  text-align: center;
}

.product-price {
  bottom: 20px;
  color: $mintgreen;
  font-family: "Segoe UI";
  position: relative;
  text-align: center;
}
