.home-grid-container {
  padding: 10px;
  width: 100% !important;

  .home-grid-item {
    text-align: center;
    align-self: center;
  }

  .home-grid-item-text {
    padding: 50px;
  }

  .home-hthree {
    color: $green;
    font-style: italic;
    font-weight: 400;
    text-align: left;
    line-height: initial;
  }

  .home-img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .home-p {
    text-align: left;
    color: $gray;
    line-height: 3rem;
  }

  @media only screen and (max-width: $laptop) {
    flex-direction: column;
    text-align: center;
    margin: 0px;
    .home-grid-item,
    .home-grid-item-text {
      max-width: 100%;
    }

    .box {
      display: none;
    }

    .home-hthree {
      text-align: center;
    }
  }
}

hr {
  width: 95%;
  margin: 3em auto;
  border: 0;
  border-top: 3px solid $green;
}

.four-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;

  @media only screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.category-text {
  text-align: center;
  h2,
  h3 {
    font-weight: 200;
    font-style: italic;
    color: $green;
  }
}
