.product-image {
  border: 2px solid rgba(39, 7, 58, 0.322);
  height: 580px;
  padding-top: 5%;
}

.product-image img {
  border: 2px solid rgb(219, 69, 0);
  border-radius: 15%;
  width: auto;
  height: 400px;
  text-align: center;
}

.product-text {
  border: 2px solid blue;
}

.product-title {
  color: $green;
  padding-top: 12%;
  font-size: 290%;
  font-weight: normal;
}

.product-price {
  color: $green;
  padding-top: 17%;
  font-size: 190%;
  font-weight: lighter;
  border: 2px solid rgb(219, 69, 0);
  padding-left: 6%;
}

.product-desc {
  border: 2px solid blue;
}
