.product-grid-container {
  padding: 50px;
  width: 100% !important;
  //background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .product-picture {
    //text-align: center;
    //align-self: center;
  }

  .product-title-price {
    display: flex;
    //background-color: blue;
    flex-direction: column;

    // display: inline-block;
  }

  .product-title {
    color: $green;
    font-weight: bold;
    //text-align: center;
    line-height: initial;
    font-size: 80px;
    //margin-left: 90px;
    //position: relative;
    //top: 100px;
    // border: 3px solid green;
    //margin: 0px auto;
    margin-left: 140px;
    justify-content: flex-start;
    align-self: flex-start;
  }

  .product-price {
    color: $green;
    font-weight: normal;
    //position: relative;
    // bottom: 25px;
    // padding-right: 125px
  }

  .product-desc {
    color: $green;
    text-align: center;
    margin-left: 140px;
    justify-content: flex-start;
    align-self: flex-start;
  }

  .product-img {
    border-radius: 15px;
    height: 600px;
    width: 1500px;
    margin: 0 auto;
  }

  .pounds-total {
    color: $mintgreen;
  }

  .amount {
    color: $mintgreen;
  }

  @media only screen and (max-width: $laptop) {
    flex-direction: column;
    text-align: center;
    margin: 0px;
    .product-picture,
    .product-title-price {
      max-width: 100%;
    }

    .product-title {
      text-align: center;
      //position: relative;
      // top: 20px;
      margin: 0px auto;
    }
    .product-desc {
      text-align: center;
      margin: 0px auto;
    }
  }
}

.product-box {
  width: 42% !important;
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;

  align-items: center;
  // flex-shrink: 3;
  // margin-left: 5%;
  margin-bottom: 10%;
  border: 2px solid $green;
  background-color: $lightgray;
  border-radius: 20px;
  //position: relative;
  //left: 850px;
  //height: 140px;
  color: $mintgreen;
  margin: 0px auto;

  .product-icon {
    transform: scale(1.8);
    color: $mintgreen;
    margin-left: 80px;
  }

  .quantity-input {
    border-radius: 10px;
    margin: 20px;
    margin-right: 50px;
  }

  .pounds-total {
    color: $mintgreen;
    margin-left: 10px;
    margin-right: 50px;
  }
  .product-output-price {
    color: $mintgreen;
  }
  @media only screen and (max-width: $laptop) {
    flex-direction: column;
    text-align: center;
    margin: 0px auto;
    .product-box {
      max-width: 100%;
    }

    .product-icon {
      margin: 0px auto;
    }
  }
}
