.product-grid-container {
  padding: 50px;
  width: 100% !important;

  .product-picture {
    text-align: center;
    align-self: center;
  }

  .product-text {
    padding: 50px;
  }

  .product-box {
    padding-top: 1%;
    padding-right: 2%;
    padding-left: 2%;
    margin-top: 20%;
    margin-bottom: 20%;
    border: 2px solid $green;
    background-color: $lightgray;
    border-radius: 10%;
  }

  .product-title {
    color: $green;
    font-weight: bold;
    text-align: left;
    line-height: initial;
    font-size: 40px;
  }

  .product-price {
    color: red;
  }

  .product-desc {
    color: $green;
  }

  .product-img {
    border-radius: 15px;
    width: 80%;
    height: auto;
    margin: 0 auto;
  }

  .quantity-input {
    background-color: $lightblue;
    left: 30px;
  }

  .pounds-total {
    color: $mintgreen;
  }

  .amount {
    color: $mintgreen;
  }

  @media only screen and (max-width: $laptop) {
    flex-direction: column;
    text-align: center;
    margin: 0px;
    .product-picture,
    .product-text {
      max-width: 100%;
    }

    .product-title {
      text-align: center;
    }
    .product-price {
      text-align: center;
    }

    .product-box {
      text-align: center;
      max-width: 100%;
    }
  }
}
