$mintgreen: rgb(122, 172, 136);
$lightPeach: rgb(251, 231, 219);
$green: rgb(74, 114, 85);
$gray: rgb(104, 109, 106);
$lightgray: rgb(231, 235, 232);

$phone: 600px;
$tablet: 768px;
$laptop: 1024px;
$largescreen: 1400px;
$fourK: 2560px;